In [1]:
# import packages
import pandas as pd # For reading and manipulating 2D data (like spreadsheets)
import numpy as np # For doing numerical calculations (literally NUMerical PYthon)
import matplotlib.pyplot as plt # For making graphs

from sklearn import datasets, linear_model

# Setting to show graphs below cells in colab
%matplotlib inline

In [2]:
co2 = pd.read_csv(r"../data/CO2.csv")
gdp = pd.read_csv(r"../data/GDP.csv")

joint = pd.merge(co2, gdp, on='Year', how='inner')
joint = joint.dropna()

joint

    Year           CO2         GDP
0   1990  2.275270e+10   9718.0080
1   1991  2.322948e+10   9682.0530
2   1992  2.256720e+10   9679.0460
3   1993  2.279835e+10   9687.9820
4   1994  2.303478e+10   9811.6240
5   1995  2.352449e+10   9968.6730
6   1996  2.425016e+10  10192.9450
7   1997  2.439595e+10  10440.5300
8   1998  2.433094e+10  10553.4510
9   1999  2.483350e+10  10776.4795
10  2000  2.550129e+10  11138.2610
11  2001  2.567493e+10  11246.5030
12  2002  2.624829e+10  11398.5710
13  2003  2.764865e+10  11668.4220
14  2004  2.862019e+10  12105.3800
15  2005  2.959210e+10  12495.3790
16  2006  3.060577e+10  12969.5460
17  2007  3.149974e+10  13464.8040
18  2008  3.204190e+10  13658.7400
19  2009  3.149326e+10  13391.3070
20  2010  3.330633e+10  13899.4940
21  2011  3.443647e+10  14263.1090
22  2012  3.493545e+10  14535.8670
23  2013  3.523247e+10  14820.2720
24  2014  3.546620e+10  15139.4480
25  2015  3.546321e+10  15461.1150
26  2016  3.546003e+10  15777.5920
27  2017  3.602546e+10  16186.4710
28  2018  3.676694e+10  16588.5880
29  2019  3.704010e+10  16877.4730
30  2020  3.500774e+10  16213.3760
31  2021  3.681654e+10  17091.3520
32  2022  3.714979e+10  17527.1900

In [3]:
co2_array = joint["CO2"].to_numpy().reshape(-1, 1)
gdp_array = joint["GDP"].to_numpy().reshape(-1, 1)

regr = linear_model.LinearRegression(fit_intercept=True)
model = regr.fit(co2_array, gdp_array)
print(f"The model [ y = {regr.coef_[0][0]} x + {regr.intercept_[0]}] has score " + 
      f"{regr.score(co2_array, gdp_array)}.")

The model [ y = 4.7511841798594795e-07 x + -1238.4651723237766] has score 0.9683779972103843.